<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Claculator</title>
{#    <script src="add.js" type="text/javascript"></script>#}
    <!--  引入echarts文件-->
    <script src="{{ url_for('static', filename='echarts.js') }}"  type="text/javascript"></script>
    <!--    <script src="js/echarts.js"></script>-->
</head>
<body>

    <a href="/">首页</a><br>
    <a href="/echart01">图1</a>
    <a href="/echart02">图2</a>
    <a href="/echart03">图3</a><br>
    <a href="/web01">小佐</a><br>

{#  第一部分，上面的加号图片  #}
    <div align="center" style="margin-top:40px;">
        <img src="{{url_for('static', filename='add.png')}}"
        width="100" height="100">
    </div>

{#  第二部分，输入加号内容，输出加号结果  #}
    <div align="center" style="margin-top: 60px;">

        <form name="form1" method="POST">
            <input type="text" placeholder="adder-1" name="adder1"> +
            <input type="text" placeholder="adder-2" name="adder2"> =
            <input type="text" readonly="readonly" placeholder="result" name="result" value="{{message}}">
            <input type="submit" value="计算" onclick="add()">
        </form>
    </div>

</body>
<footer>

</footer>
</html>