<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="D:/Work/GitHub/demo_flask/app01/static/login.css/login.css">
</head>
<body>

    <div class="box">
            <h2>数据分析平台</h2>
    </div>

    <form action="/login" method="post">
        <label>用户名：</label>
        <input type="text" name="username"><br>
        <label>密&ensp;&ensp;码：</label>
        <input type="password" name="password"><br>
        <input type="submit" name="" value="登录">
    </form>
</body>
</html>